.image {
background-image: url("./resources/images/the-flatiron-building.png")
}
h1 {
font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color: white;
text-align: center;
}
h3 {
font-family: Helvetica;
font-size: 18px;
color: white;
text-align: center;
}
#id {
  text-align: center;
}
.process {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
text-align: center;
}
.pictext {
font-family: Helvetica;
font-size: 23px;
font-weight: bold;
text-align: center;
}
.section {
  text-align: center;
}
.small {
font-family: Helvetica;
font-size: 14px;
text-align: center;
}
.nyc {
font-family: Helvetica;
font-sie: 23px;
font-weight: bold;
color: white;
text-align: center;
}
.footer {
background-color: dimgray;
text-align: left;
}
.copy {
font-family: Helvetica;
font-size: 11px;
color: white;
}
